@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

@font-face {
  font-family: 'IRANSans';
  src: url('/public/fonts/woff2/IRANSansWeb.woff2') format('woff2'),
    url('/public/fonts/woff/IRANSansWeb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body,
* {
  font-family: 'IRANSans', 'Tahoma', 'Arial', sans-serif;
}

.bg {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #232526 0%, #414345 100%);
}

.bg::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  /* background: url('/pic12.jpg') center center / cover no-repeat; */
  opacity: 0.85;
  z-index: 0;
  pointer-events: none;
}

.multi-locale-days .rmdp-day {
  width: 50px;
  height: 50px;
}

.purple .rmdp-week-day {
  font-size: 16px;
  font-weight: 800;
}

.rmdp-header-values {
  font-size: 20px;
}

.purple .rmdp-arrow {
  padding: 4px;
  border-color: rgb(235, 223, 223) !important;
}

.glass-black {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(180, 100, 255, 0.18);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
  overflow: hidden;
}

:where(.css-1n1sbgs).ant-checkbox-wrapper-checked:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
:where(.css-1n1sbgs).ant-checkbox-checked:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
  color: #9810fa;
  background-color: #9810fa;
}

:where(.css-1n1sbgs).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
  color: #9810fa;
  background-color: #9810fa;
}

.ant-popconfirm-inner-content {
  direction: rtl;
}

:where(.css-17fne0m).ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: darkred;
}

:where(.css-17fne0m).ant-btn-variant-solid {
  background-color: red;
}


.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a78bfa #232136;
  /* thumb, track */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(120deg, #a78bfa 40%, #f472b6 100%);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(30, 27, 75, 0.3);
  border-radius: 3px;
}